* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background: rgb(255, 255, 255);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.banner {
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("./images/BannerImage.png");
  background-size: cover; /* Full cover */
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
}

.banner-info {
  font-family: "Merriweather", serif;
  color: #fff;
  text-align: center;
  padding-top: 177px;
}

.banner-info h3 {
  font-size: 2rem;
  font-weight: 400;
}

.banner-info h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
/* Categories Section Css */
.categories {
  margin: 60px auto;
}
.categories-info {
  text-align: center;
}
.categories-info h1 {
  color: rgb(255, 0, 0);
  font-size: 5.2rem;
  font-weight: bold;
}
.categories-info p {
  color: rgb(255, 0, 0);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 30px 0 20px 0;
}
.categories-info h2 {
  color: rgb(7, 2, 17);
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 30px;
}
.categories-img {
  text-align: center;
}
.categories-img img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  body {
    padding: 30px;
  }
  .banner {
    background-size: contain;
    height: 200px;
  }
  .banner-info {
    padding-top: 30px;
  }
  .banner-info h3 {
    font-size: 1.2rem;
  }
  .banner-info h1 {
    font-size: 2rem;
  }
  /* Categories Section Css */
  .categories {
    margin: 20px auto;
  }
  .categories-info {
    text-align: center;
  }
  .categories-info h1 {
    font-size: 3rem;
  }
  .categories-info p {
    font-size: 1rem;
    margin: 20px 0;
  }
  .categories-info h2 {
    font-size: 2rem;
  }
  .categories-img {
    text-align: center;
  }
  .categories-img img {
    width: 100%;
  }
}
