* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background: rgb(255, 255, 255);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
.btn {
  padding: 16px 32px;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(255, 0, 0);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}

/* Banner Section */

.banner {
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("./images/BannerImage.png");
  background-size: cover; /* Full cover */
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
}

.banner-info {
  font-family: "Merriweather", serif;
  color: #fff;
  text-align: center;
  padding-top: 177px;
}

.banner-info h3 {
  font-size: 2rem;
  font-weight: 400;
}

.banner-info h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
/* Categories Section Css */
.categories {
  margin: 60px auto;
}
.categories-info {
  text-align: center;
}
.categories-info h1 {
  color: rgb(255, 0, 0);
  font-size: 5.2rem;
  font-weight: bold;
}
.categories-info p {
  color: rgb(255, 0, 0);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 30px 0 20px 0;
}
.categories-info h2 {
  color: rgb(7, 2, 17);
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 30px;
}
.categories-img {
  text-align: center;
}
.categories-img img {
  width: 70%;
}
/* Part Section */
.party {
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("./images/Vectorrr.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.party-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
}
.party-info {
}
.party-info h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 4rem;
  font-weight: 900;
}
.party-info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 20px 0;
}
.party-info a {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-transform: uppercase;
}
.party-img {
}
.party-img img {
  width: 100%;
}

/* Join Section */
.join {
  margin-top: 120px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}
.join-info {
  padding: 100px 385px;
  text-align: center;
}
.join-info h3 {
  color: rgb(7, 2, 17);
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 20px;
}
.join-title {
  color: rgb(255, 0, 0);
}
.join-info button {
}

/* Upcoming Section */
.upcoming {
  display: flex;
  gap: 30px;
  margin: 40px auto;
  align-items: center;
}
.upcoming-text-left {
  flex: 1;
}
.upcoming-text-left h4 {
  color: rgb(255, 0, 0);
  font-size: 1.5rem;
  font-weight: 500;
}
.upcoming-text-left h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 3rem;
  font-weight: 900;
}
.upcoming-text-right p,
.upcoming-text-left p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 15px 0;
}
.upcoming-img {
  border: 15px solid red;
  border-radius: 50%;
  flex: 1;
}
.upcoming-img img {
  padding: 30px;
}
.upcoming-text-right {
  flex: 1;
}
.upcoming-text-right h1 {
  color: rgb(255, 0, 0);
  font-size: 3rem;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  body {
    padding: 30px;
  }
  .banner {
    background-size: contain;
    height: 200px;
  }
  .banner-info {
    padding-top: 30px;
  }
  .banner-info h3 {
    font-size: 1.2rem;
  }
  .banner-info h1 {
    font-size: 2rem;
  }
  /* Categories Section Css */
  .categories {
    margin: 20px auto;
  }
  .categories-info {
    text-align: center;
  }
  .categories-info h1 {
    font-size: 3rem;
  }
  .categories-info p {
    font-size: 1rem;
    margin: 20px 0;
  }
  .categories-info h2 {
    font-size: 2rem;
  }
  .categories-img {
    text-align: center;
  }
  .categories-img img {
    width: 100%;
  }
  /* Party responsive */
  .party {
    background-size: 100% 100%;
    background-attachment: scroll;
    width: 100%;
    background-position: center center;
  }
  .party-container {
    padding: 20px;
    flex-direction: column;
  }
  .party-info {
    width: 100%;
  }
  .party-info h1 {
    font-size: 2rem;
  }
  .party-info p {
    font-size: 0.9rem;
    margin: 10px 0;
  }
  .party-info a {
    font-size: 1rem;
  }
  .party-img img {
    width: 80%;
  }
  /* Join Section */
  .join {
    margin-top: 60px;
  }
  .join-info {
    padding: 50px;
    text-align: center;
  }
  .join-info h3 {
    font-size: 1.3rem;
  }
  /* Upcoming Section */
  .upcoming {
    flex-direction: column;
    text-align: center;
  }
  .upcoming-img img {
    width: 100%;
  }
}
